@import '../utils/variables.scss';
%nav {
    width:100%;
    background-color: $light-blue;
    

    &>input{
        display:none;
    }

    &>ul {
        display: flex;
        justify-content: center;

        &>li {
            padding:16px;
            list-style: none;
            
            &:hover{
                background-color: $blue;

                & a {
                    color:white;
                    display: block;
                    height:100%;
                    width:100%;
                }
            }
        }
    }
}

nav {
    @extend %nav
}