$primary-color: darkred; 

$secondary-color: rgb(157, 66, 66);
$shadow-color:rgb(152, 138, 164);
$black: #040f16;
$white: white;
$grey:rgb(124, 112, 136);
$dark-grey:rgb(79, 74, 83);
$background:rgb(206, 158, 245);

$ipad-breakpoint: 768px;